.page {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--color_gray-lll);
  overflow-x: hidden;
}

/* Header */
.page .page_header {
  width: 100%;
  display: flex;
  position: fixed;
  padding: 0.25rem 1rem;
  flex-shrink: 0;
  align-items: center;
  color: var(--color_gray-lll);
  background-color: var(--color_gray-ddd);
  z-index: 1;
}
.page_header .header_mark {
  font-size: 1.5rem;
  flex-grow: 1;
}
.page_header .header_mark.mark-sm {
  display: none;
}
.page_header .header_menu {
  font-size: 1.125rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.page_header .header_menu:hover {
  color: var(--color_gray-l);
}

/* Aside */
.page .page_aside {
  position: fixed;
  width: 300px;
  top: 0;
  right: -100%;
  bottom: 0;
  background-color: var(--color_mask-l);
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s, right 0s ease-in-out 0.3s;
}
.page .page_aside.aside-show {
  right: 0;
  opacity: 1;
  transition: right 0s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}
.aside_menu {
  list-style: none;
  margin-top: 3.5rem;
  padding-left: 1rem;
}
.aside_menu .menu_item:not(:first-child) {
  margin: 1rem 0;
  cursor: pointer;
}
.aside_menu .menu_image {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
.aside_menu .menu_title {
  vertical-align: middle;
  color: var(--color_gray-lll);
}
.menu_item.item-ban .menu_title{
  color: var(--color_gray-ll);
}
.menu_item.item-javascript:hover .menu_title {
  color: var(--color_js);
}
.menu_item.item-react:hover .menu_title {
  color: var(--color_react);
}
.menu_item.item-vue:not(.item-ban):hover .menu_title {
  color: var(--color_vue);
}

/* Container */
.page .page_container {
  flex-grow: 1;
  width: 100%;
  margin: 2.5rem auto 0;
  padding: 0 1rem 0;
}
.container_image {
  width: 15rem;
}
.page_container .container_divider {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.container_divider .divider_line {
  flex-grow: 1;
  height: 2px;
  width: 100%;
  margin: 0 0.5rem;
  border-bottom: 1px dashed var(--color_gray);
  opacity: 0.5;
}
.container_divider .divider_icon {
  flex-shrink: 0;
  margin: 0 0.25rem;
  opacity: 0.5;
  font-size: 0.75rem;
}
.container_section {
  margin: 1rem 0;
}
.container_section.section-donate {
  text-align: center;
}
.me_image {
  float: left;
  flex-shrink:0;
  width: 10rem;
}
.me_content {
  line-height: 1.5rem;
}
.content_link { 
  word-break: break-all;
}
.container_section.section-product {
  display: flex;
  flex-wrap: wrap;
}
.product_block {
  width: calc(50% - 1rem);
  flex-shrink: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0.5rem;
  padding: 1rem;
  border: var(--color_gray-ll) 1px solid;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.product_block .block_head .head_image {
  width: 6rem;
  margin-right: 1rem;
}
.product_block .block_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product_block .block_container .container_title {
  margin: 0;
}
.product_block .block_container .container_description {
  margin: 0.5rem 0;
  flex-grow: 1;
}
.product_block .block_container .container_redirection {
  width: 100%;
  text-align: right;
}
.product_block.block-javascript:hover .fas.fa-shoe-prints{
  color: var(--color_js);
}
.product_block.block-react:hover .fas.fa-shoe-prints{
  color: var(--color_react);
}
.product_block.block-vue:hover .fas.fa-shoe-prints{
  color: var(--color_vue);
}
.divider_icon.icon-original {
  color: var(--color_black);
}
.divider_icon.icon-js {
  color: var(--color_js);
}
.divider_icon.icon-react {
  color: var(--color_react);
}
.divider_icon.icon-vue {
  color: var(--color_vue);
}
.divider_icon.icon-angular {
  color: var(--color_angular);
}

/* Foot Navbar */
.page .page_footNav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color_gray-ll);
  flex-shrink: 0;
}
.page_footNav .footNav_linkBtn {
  font-size:1.25rem;
  text-decoration: none;
  color: var(--color_gray-d);
}
.footNav_linkBtn + .footNav_linkBtn {
  margin-left: 1rem;
}
.footNav_linkBtn.linkBtn-paypal:hover {
  color: var(--color_paypal);
}
.footNav_linkBtn.linkBtn-github:hover {
  color: var(--color_github);
}
.footNav_linkBtn.linkBtn-npm:hover {
  color: var(--color_npm);
}
.footNav_linkBtn.linkBtn-linkedin:hover {
  color: var(--color_linkedin);
}
.footNav_linkBtn.linkBtn-wordpress:hover {
  color: var(--color_wordpress);
}
.footNav_linkBtn.linkBtn-email:hover {
  color: var(--color_email);
}

/* Foot */
.page .page_footer {
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
  color: var(--color_gray-lll);
  background-color: var(--color_gray-ddd);
}

/* Lower Small Size */
@media only screen and (max-width : 576px) {
  .page_header .header_mark.mark-md {
    display: none;
  }
  .page_header .header_mark.mark-sm {
    display: initial;
  }
  .product_block .block_head .head_image {
    width: 4rem;
  }
}
/* Lower Middle Size */
@media only screen and (max-width : 768px) {
  .page .page_aside {
    background-color: var(--color_mask-d);
  }
  .menu_item.item-javascript .menu_title {
    color: var(--color_js);
  }
  .menu_item.item-react .menu_title {
    color: var(--color_react);
  }
  .menu_item.item-vue:not(.item-ban) .menu_title {
    color: var(--color_vue);
  }

  .product_block { 
    width: 100%;
    margin: 0.5rem 0;
  }
  .product_block.block-javascript .fas.fa-shoe-prints{
    color: var(--color_js);
  }
  .product_block.block-react .fas.fa-shoe-prints{
    color: var(--color_react);
  }
  .product_block.block-vue .fas.fa-shoe-prints{
    color: var(--color_vue);
  }
}

/* Upper Middle Size */
@media only screen and (min-width : 768px) {
  .page .page_container {
    width: 60%;
    padding: 0;
  }
  .product_block:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.15);
    border-color: var(--color_gray);
  }
  .product_block:hover .block_title {
    color: var(--color_gray-dd);
  }
  .product_block:hover .block_description,
  .product_block:hover .block_redirection {
    color: var(--color_gray-d);
  }
}

/* Upper Extreme Large Size */
@media only screen and (min-width : 1200px) {
  .container_section.section-me {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}